<div class="container">
  <div class="row">
    <div
      class="col-12 col-lg-6 d-flex text-white flex-column justify-content-center text-center"
      style="
        min-height: 200px;
        background-image: url('/assets/images/space.jpg');
      "
    >
      <h4>Next launch is in</h4>

      <section *ngIf="highLightLaunch == null; else launchElseRef">
        Launching in
        <div class="spinner-grow spinner-grow-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </section>
      <ng-template #launchElseRef>
        <p class="display-5">
          <app-countdown [finalDate]="highLightLaunch?.net"></app-countdown>
        </p>

        <p class="fs-4 text-truncate">{{ highLightLaunch?.name }}</p>
      </ng-template>
    </div>

    <div
      class="col-12 col-lg-6 d-flex text-white flex-column justify-content-center text-center bg-yellow text-black"
    >
      <div class="text-center">
        <h5 class="my-2 h5">Launch stats for July 2022</h5>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h3 class="h3">465</h3>
            <p><strong>Total</strong></p>
          </div>
        </div>
        <div class="col">
          <div class="text-center">
            <h3 class="h3">465</h3>
            <p><strong>Success</strong></p>
          </div>
        </div>
        <div class="col">
          <div class="text-center">
            <h3 class="h3">465</h3>
            <p><strong>Failed</strong></p>
          </div>
        </div>
        <div class="col">
          <div class="text-center">
            <h3 class="h3">465</h3>
            <p><strong>Crewed</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
