img,.carousel-inner,
          .carousel-item,
          .carousel-item.active {
            height: 400px;
          }
img {
  object-fit: cover;
}
  a {
    text-decoration: none;
    color: black;
  }
