<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand d-none d-md-block website-font-name" href="#">ALL ABOUT SPACE</a>
    <!-- For smaller screen devices ( mobile) -->
    <a class="navbar-brand d-md-none d-lg-none d-xl-none d-xxl-none website-font-name" href="#">AAS</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">          
          <a routerLinkActive="active" [routerLink]="['home']" class="nav-link" >Home</a>
        </li>   
        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"            
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            routerLinkActive="active"
          >
            Launches
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLinkActive="active" [routerLink]="['launches/upcoming']">Upcoming</a>
            </li>
            <li>
              <a class="dropdown-item" routerLinkActive="active" [routerLink]="['launches/previous']">Previous</a>
            </li>           
          </ul>
        </li>             
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->