
<div class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block col-md-12  text-center">
      <h4 class="website-font-name p-2">ALL ABOUT SPACE </h4>      
    </div>
    <!-- For smaller screen devices ( mobile) -->
    <div class="d-md-none d-lg-none d-xl-none d-xxl-none col-12 text-center">      
      <h4 class="website-font-name p-2">AAS</h4>
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand website-font-name" href="#">ALL ABOUT SPACE</a>
    </div>
  </nav> -->
  