<div class="container">
  <div class="row pb-2">
    <div class="col-12 mt-2">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          checked
          (change)="onLaunchesSwtichToggle($event)"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >{{ this.launchesDynamicDisplayText }} Launches</label
        >
      </div>
    </div>
  </div>
  <ng-container *ngFor="let launch of launchList">
    <a class="row" [routerLink]="['/launches',launch.slug]">
      <div class="col-12 col-md-5 g-0">
        <img
          [src]="launch.image"
          style="
            object-fit: cover !important;
            height: 250px !important;
            width: 100% !important;
          "
          class="rounded shadow-3"
          [alt]="launch.name"
        />
      </div>
      <div
        class="col-12 col-md-7 d-flex flex-column justify-content-center"
      >
        <p class="h6 ms-3 mt-3">
          <b>{{ launch?.name }} </b>
        </p>
        <p class=" ms-3">
         <b>Agency : </b> {{ launch.agency }}
        </p>
        <p class=" ms-3">
          <i class="fas fa-calendar-day"></i> &nbsp;
          {{ launch.net | showDateOnly }}
        </p>       
        <p class=" ms-3">
          <i class="fas fa-map-marker-alt"></i> &nbsp;  {{ launch.launchpad }}
        </p>
        <div class=" ms-3">
          <span class="badge badge-secondary">
            {{ launch.ismanned ? "Manned" : "Un-Manned" }}</span
          >
          &nbsp;
          <span *ngIf="launch.mission" class="badge badge-info">
            {{ launch.mission?.type }}</span
          >
          &nbsp;
          <span [ngClass]="['badge', 'badge-' + launch.launchStatusColor]">
            {{ launch.launchStatus?.name }}</span
          >
        </div>
      </div>
    </a>
    <hr />
  </ng-container>
</div>
