<div class="row g-0">
  <div
    class="d-none d-lg-block col-lg-5 rounded-start"
    [style.background-image]="'url(' + highLightLaunch?.image + ')'"
    style="
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      height: 80vh;
      background-color: #1e1e1e;
    "
  ></div>
  <div
    class="d-block col-12 d-lg-none rounded-top"
    [style.background-image]="'url(' + highLightLaunch?.image + ')'"
    style="
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      height: 50vh;
      background-color: #1e1e1e;
    "
  ></div>
  <div
    class="col-12 col-lg-7 rounded-end py-1 d-flex align-items-center justify-content-center text-center flex-column"
    style="height: 80vh; background-color: #181414"
  >
    <h5 class="display-5">Next launch is in</h5>
    <!-- <hr class="w-100" color="red"
      size="3"> -->
    <!-- <h6 class="display-6"> {{ highLightLaunch?.name }}</h6> -->
    <h3 class="display-3">
      <app-countdown [finalDate]="highLightLaunch?.net"></app-countdown>
    </h3>
    <p class="fs-3">{{ highLightLaunch?.name }}</p>
    <p class="fs-3">
      <i class="fas fa-calendar-day"></i> &nbsp;
      {{ highLightLaunch.launchDate }}
    </p>
    <p class="fs-3">
      <span
        title="Launch Status"
        [ngClass]="['badge', 'badge-' + highLightLaunch?.launchStatusColor]"
      >
        {{ highLightLaunch?.launchStatus?.name }}
      </span>
      &nbsp;
      <span
        [ngClass]="['badge', 'badge-danger']"
        title="Is Manned launch or Un-Manned"
      >
        {{ highLightLaunch?.ismanned ? "Is-Manned" : "Un-Manned" }}
      </span>
    </p>
    <p class="fs-3">
      <i class="fas fa-map-marker-alt"></i> &nbsp;
      {{ highLightLaunch?.launchpad }}
    </p>
    <p class="fs-3">Agency : {{ highLightLaunch?.agency }}</p>
  </div>
</div>
